{% extends 'base.html.twig' %}

{% block title %}Category index
{% endblock %}

{% block body %}
	<div class="PlaneImageCatIndex">
		<img class="PlaneImageCatIndex" src="{{ asset('build/images/fileavionaligne.jpg') }}" alt=""/>
		<h1 class="mt-4 ">Category index</h1>
	</div>
	<div class="container col-12 mt-5 py-1 colspan-4">
		<table class="table mt-5 decoration-none">
			<tbody>
				<div>
					{% for category in categories %}
						<tr>
							<p class="d-flex justify-content-center text-decoration-none mt-5" colspan="2">{{ category.name }}</p>
							<p class="d-flex justify-content-center">
								<a href="{{ path('app_category_show', {'id': category.id}) }}"><img class="cleModif" src="{{ asset('build/images/plane.png') }}" alt=""/></a>
								<a href="{{ path('app_category_edit', {'id': category.id}) }}"><img class="cleModif" src="{{ asset('build/images/clé.png') }}" alt=""/></a>
							</p>
						</tr>
					{% else %}
						<tr>
							<td colspan="2">no records found</td>
						</tr>
					{% endfor %}
				</div>
			</tbody>
		</table>
	</div>
	<div class="d-flex justify-content-center">
		<a class="btn bg-dark text-white mb-3" href="{{ path('app_category_new') }}">Create new</a>
	</div>
{% endblock %}
