{% extends 'base.html.twig' %}

{% block title %}Plane index
{% endblock %}

{% block body %}
	<div class="imagePageList">
		<img class="imagePageList" src="{{ asset('build/images/ailes2.jpg') }}" alt=""/>
		<h1 class="mt-4 ">Index des Avions</h1>
	</div>

	<div class=" container col-12 mt-5 py-1 colspan-4">
		<table class="table  mt-5">
			<thead class="collspan-2">
				<tr>
					<th>Modele</th>
					<th>Constructeur</th>
					<th>Année</th>
					<th>Category</th>
				</tr>
			</thead>
			<tbody>
				{% for plane in planes %}
					<tr>
						<td>{{ plane.model }}</td>
						<td>{{ plane.constructor }}</td>
						<td>{{ plane.year }}</td>
						<td>{{ plane.category.name }}</td>
						<td>
							<div class="d-flex justify-content-start">
								<a href="{{ path('app_plane_show', {'id': plane.id}) }}"><img class="cleModif" src="{{ asset('build/images/plane.png') }}" alt=""/></a>
								<a href="{{ path('app_plane_edit', {'id': plane.id}) }}"><img class="cleModif" src="{{ asset('build/images/clé.png') }}" alt=""/></a>
							</div>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="d-flex justify-content-center">
		<a class="btn d-flex justify-content-center mt-2 mb-4" href="{{ path('app_plane_new') }}">Create new</a>
	</div>
{% endblock %}
